/* h5.card-title {;} */
img.card-img-top {height: 220px;object-fit: cover;}
.btn_flex{
    display: flex;
    justify-content: space-between;
}
.card-text{
    min-height: 100px;
}
.nav-item{
    text-transform: capitalize;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
p.card-text.second-text {min-height: auto;}